header {
  padding-top: 25px;
  height: 500px;
  text-align: center;
  background-color: #f4743b;
  background-image: url('../images/dark-mosaic.png');
  color: white;
}

header h2 {
  font-weight: normal;
}

header h2 #firstName {
  font-weight: bold;
}

