nav {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  padding: 1.5em;
  z-index: 1;
}

nav .write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
}

nav .write-tweet .text {
  display: block;
}

nav .write-tweet .text .bold {
  font-weight: bold;
}

nav .write-tweet #double-chevron {
  display:block;
  font-weight: bold;
  text-align: center;
  color: orangered;
  cursor: pointer;
  margin-top: 2px;
}

nav .write-tweet #double-chevron:hover {
  animation: bounce 1s;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

